---

---

<button class="active:-translate-y-1 relative overflow-hidden rounded-lg bg-neutral-950 px-5 py-2.5 text-white transition-all duration-300 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:scale-x-90 active:scale-y-110 dark:bg-neutral-800">Click me</button>
